.job-post-sec {
    margin: 40px auto;
    border: 1 px solid black;
    width: 50%;
    border: 1px solid;
    text-align: left;
    padding: 15px;
}
.job-post-sec .row.field-sec {
    padding: 10px 0;
}